# `TRADE OGRE: API`

# <font color=red>Mr Fugu Data Science</font>

# (◕‿◕✿)

In [4]:
import pandas as pd
import requests
import json
import datetime

In [408]:
# Make Connection to Trade Ogre:

# Choosing a starting point of 'from=0' used to pull data
base_url = "https://tradeogre.com/api/v1/markets"

# and 'page=1'
ex_1=requests.get(base_url).json()

ex_1[0:3]

[{'BTC-ACM': {'initialprice': '0.00000027',
   'price': '0.00000027',
   'high': '0.00000030',
   'low': '0.00000022',
   'volume': '0.06612448',
   'bid': '0.00000027',
   'ask': '0.00000030'}},
 {'BTC-ADA': {'initialprice': '0.00002205',
   'price': '0.00002143',
   'high': '0.00002363',
   'low': '0.00002122',
   'volume': '0.04035621',
   'bid': '0.00002127',
   'ask': '0.00002148'}},
 {'BTC-AEON': {'initialprice': '0.00000365',
   'price': '0.00000408',
   'high': '0.00000412',
   'low': '0.00000353',
   'volume': '0.01347798',
   'bid': '0.00000375',
   'ask': '0.00000408'}}]

In [423]:

base_url = "https://tradeogre.com/api/v1/markets"

# and 'page=1'
ex_1=requests.get(base_url).json()



# There seems to be an issue!
pd.DataFrame(ex_1).head()

,BTC-ACM,BTC-ADA,BTC-AEON,BTC-ARQ,BTC-ARRR,BTC-AVN,BTC-BBS,BTC-BCN,BTC-BEAM,BTC-BITC,...,LTC-WTIP,LTC-XLA,LTC-XUN,USDT-ARRR,USDT-BTC,USDT-DERO,USDT-PRCY,USDT-XEQ,USDT-XHV,USDT-XMR
0,"{'initialprice': '0.00000026', 'price': '0.000...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"{'initialprice': '0.00002174', 'price': '0.000...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,"{'initialprice': '0.00000365', 'price': '0.000...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,"{'initialprice': '0.00000026', 'price': '0.000...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,"{'initialprice': '0.00002433', 'price': '0.000...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [413]:
# Pay ATTENTION: This is giving correct information but the Ticker is Not what you think!

df_1a=pd.DataFrame(ex_1[0]).transpose()

# Let's see what we have...

# df_1a.index

Index(['BTC-ACM'], dtype='object')

In [45]:
print(ex_1[0].keys())
print('-------------------')
print(ex_1[0].values())

dict_keys(['BTC-ACM'])
-------------------
dict_values([{'initialprice': '0.00000027', 'price': '0.00000030', 'high': '0.00000030', 'low': '0.00000022', 'volume': '0.06448787', 'bid': '0.00000027', 'ask': '0.00000031'}])

In [412]:

p=[] # store values which are key:value pairs in them seleves
pp=[] #ticker symbols

for i in range(len(data)):
    p.extend(data[i].values())
    pp.append(data[i].keys())
    
n=pd.DataFrame(p)
# n['ticks']=pp

n.insert(0, 'ticks', pp) # creating a new column at position 0, with tickers
n

,ticks,initialprice,price,high,low,volume,bid,ask
0,(BTC-ACM),0.00000027,0.00000030,0.00000030,0.00000022,0.06448787,0.00000027,0.00000031
1,(BTC-ADA),0.00002206,0.00002197,0.00002363,0.00002122,0.02910170,0.00002132,0.00002160
2,(BTC-AEON),0.00000365,0.00000400,0.00000412,0.00000353,0.01336100,0.00000398,0.00000408
3,(BTC-ARQ),0.00000025,0.00000026,0.00000028,0.00000025,0.00837410,0.00000026,0.00000027
4,(BTC-ARRR),0.00002401,0.00002516,0.00002569,0.00002391,1.33978373,0.00002498,0.00002516
...,...,...,...,...,...,...,...,...
134,(USDT-DERO),3.30000000,3.40000000,3.40000000,3.30000000,4942.22100000,3.23000000,3.58900000
135,(USDT-PRCY),0.04708988,0.04698893,0.04708996,0.03720001,3626.96511201,0.04008836,0.04698895
136,(USDT-XEQ),0.13200000,0.14100000,0.14100000,0.13100000,297.07982278,0.13160867,0.18000000
137,(USDT-XHV),0.47000000,0.46727411,0.47000000,0.46727411,0.00000000,0.48554408,0.53756092
138,(USDT-XMR),129.00000000,132.00000000,132.00000000,129.00000000,1427.11320000,129.25460700,132.00000000

In [414]:
# /orders/{market}, where {market}= whatever your are looking for

base_url = "https://tradeogre.com/api/v1/orders/BTC-XMR"

# and 'page=1'
ex_2=requests.get(base_url).json()


from collections import defaultdict

bb=defaultdict(list)
for i in ex_2.items():
    if i[0] !='success': # ignore useless success message with get request
        # create default dictionary with list comprehension, 
        bb[i[0]].append([(k, v) for k, v in i[1].items()])

#         bb_[i[0]].append(i[1])
st_=pd.DataFrame(bb)

st_.head()


# pd.DataFrame(bb_)['buy']

,buy,sell
0,"[(0.00545000, 0.32000000), (0.00545632, 0.1048...","[(0.00649980, 2.79039445), (0.00649999, 368.23..."

In [421]:
def parse_cols(column_names_list,df):
    
    for i in column_names_list:
        
        v=df.explode(i) #flatten lists
#create new columns to dataframe, converting df to list and using index from that df
        v[['price_perDollar_'+i, 'Qty_'+i]] = pd.DataFrame(v[i].tolist(),index=v.index)

    return v[['price_perDollar_'+i, 'Qty_'+i]]


sell=parse_cols(['sell'],pd.DataFrame(st_['sell']))

buy=parse_cols(['buy'],pd.DataFrame(st_['buy']))
# sell

buy

   price_perDollar_buy      Qty_buy
0           0.00545000   0.32000000
0           0.00545632   0.10484422
0           0.00545800   0.01000000
0           0.00546111   0.00915628
0           0.00549010   0.00980675
..                 ...          ...
0           0.00646482   0.01276977
0           0.00646737   0.15431311
0           0.00647578  68.50000000
0           0.00647694   0.06879637
0           0.00647695  18.95180000

[158 rows x 2 columns]

In [ ]:
# reset index:

buy.reset_index(drop=True)

In [14]:
# /ticker/{market}

base_url = "https://tradeogre.com/api/v1/ticker/BTC-XMR"

# and 'page=1'
ex_3=requests.get(base_url).json()

ex_3

{'success': True,
 'initialprice': '0.00627272',
 'price': '0.00647259',
 'high': '0.00648801',
 'low': '0.00622377',
 'volume': '30.48614008',
 'bid': '0.00644386',
 'ask': '0.00647295'}

In [330]:
# /history/{market}


base_url = "https://tradeogre.com/api/v1/history/BTC-XMR"

# and 'page=1'
ex_4=requests.get(base_url).json()

ex_4[0:5]

[{'date': 1657829426,
  'type': 'buy',
  'price': '0.00649998',
  'quantity': '0.01544620'},
 {'date': 1657829426,
  'type': 'buy',
  'price': '0.00649999',
  'quantity': '18.93655380'},
 {'date': 1657829426,
  'type': 'buy',
  'price': '0.00649998',
  'quantity': '0.06745813'},
 {'date': 1657829426,
  'type': 'buy',
  'price': '0.00649999',
  'quantity': '18.88273301'},
 {'date': 1657829490,
  'type': 'buy',
  'price': '0.00649998',
  'quantity': '0.01544620'}]

In [407]:
pd.DataFrame(ex_4).head()

         date type       price     quantity
0  1657829426  buy  0.00649998   0.01544620
1  1657829426  buy  0.00649999  18.93655380
2  1657829426  buy  0.00649998   0.06745813
3  1657829426  buy  0.00649999  18.88273301
4  1657829490  buy  0.00649998   0.01544620

In [167]:
import datetime

datetime.datetime.fromtimestamp(int(pd.DataFrame(ex_4)['date'][0]))


print(datetime.datetime.utcfromtimestamp(int(pd.DataFrame(ex_4)['date'][0])).strftime('%m-%d-%Y %H:%M:%S'))

07-12-2022 15:21:35

In [405]:
# Convert time:
df_5=pd.DataFrame(ex_4)
dta_=[]
for i in range(len(pd.DataFrame(ex_4))):
    dta_.append(datetime.datetime.utcfromtimestamp(int(df_5['date'][i])).strftime('%m-%d-%Y %H:%M:%S'))
    
df_5['date']=dta_
df_5

                   date type       price     quantity
0   07-14-2022 20:10:26  buy  0.00649998   0.01544620
1   07-14-2022 20:10:26  buy  0.00649999  18.93655380
2   07-14-2022 20:10:26  buy  0.00649998   0.06745813
3   07-14-2022 20:10:26  buy  0.00649999  18.88273301
4   07-14-2022 20:11:30  buy  0.00649998   0.01544620
..                  ...  ...         ...          ...
95  07-14-2022 22:08:14  buy  0.00649999   0.04421778
96  07-14-2022 22:17:11  buy  0.00649999   0.43398174
97  07-14-2022 22:18:45  buy  0.00649999   0.08783890
98  07-14-2022 22:20:12  buy  0.00649999   0.06897409
99  07-14-2022 22:21:53  buy  0.00649999   0.06895569

[100 rows x 4 columns]

# `Like, Share &`, <font color=red>SUb</font>scribe

# Citations & Notes:

# ◔̯◔

https://tradeogre.com/help/api

https://www.reddit.com/r/learnpython/comments/rqd0qa/how_to_create_nested_lists_from_a_pandas_dataframe/

https://pandas.pydata.org/docs/user_guide/advanced.html

https://stackoverflow.com/questions/3682748/converting-unix-timestamp-string-to-readable-date

https://stackoverflow.com/questions/29550414/how-can-i-split-a-column-of-tuples-in-a-pandas-dataframe